**/*.mkv
**/*.avi
**/*.AVI
**/*.mp4
**/*.mov
**/*.mpg
**/*.divx
**/*.mp3
**/*.ac3
**/*.webm
**/*.wmv
**/*.flv

**/*.pdf
**/*.odt
**/*.rtf
**/*.epub
**/*.doc
**/*.mobi

**/*.jpg
**/*.JPG
**/*.jpeg
**/*.JPEG

**/*.sh

!**/image.jpeg

